{% extends "base.html" %}
{% block title %}
    {{ question.title }}
{% endblock %}
{% block headtitle %}<a style="a:hover{text-decoration: underline;}text-decoration: underline;color:black;" href="/">bitsulting</a> - <a style="a:hover{text-decoration: underline;}text-decoration: underline;color:black;" href="{{ question.category.get_absolute_url }}">/c/{{ question.category }} </a>{% endblock %}
{% block bodycontent %}
    <ul class="list-group">
        <li class="list-group-item">
            <b style="font-size:x-large;">{{ question.title }} </b>
            <br>
            <textarea style="width: 305px; height: 30px;resize: none;" readonly>{{ question.bitcoinAddress }}</textarea>
            <div style="font-size:x-small;">{{ question.posted }} </div>
            <div><b style="font-size:large;">value: {{ question.reward_value }} BTC</b><blockquote>{{ question.body }}</blockquote></div>
        </li>
        <li class="list-group-item">
        <form id="response_form" method="post" action="">
            {% csrf_token %}
            {{ response_form.as_p }}
            <input type="submit" name="submit" value="respond" />
        </form>
        </li>
        {% if response %}
        {% for responses in response %}
            <li class="list-group-item">
                <div>
                    <textarea style="width: 305px; height: 30px;resize: none;" readonly>{{ responses.bitcoinAddress }}</textarea>
                    <p style="font-size:x-small;">{{ responses.created_on }}</p>
                </div>
                <blockquote>{{ responses.text }}</blockquote></li>
        {% endfor %}
        </ul>
    {% else %}
            <ul class="list-group">
                <li class="list-group-item"><p style="padding-left:10px;padding-top:10px;"><b>There are no responses to this question yet, why not be the first?</b></p></li>
            </ul>
    {% endif %}
{% endblock %}