{% extends 'base.html' %} 
{% block title %}{{ category.title }}{% endblock %}
{% block headtitle %}<a style="a:hover{text-decoration: underline;}text-decoration: underline;color:black;" href="/">bitsulting</a> -  <a style="a:hover{text-decoration: underline;}text-decoration: underline;color:black;" href="{{ question.category.get_absolute_url }}">/c/{{ category }} </a>{% endblock %}
{% block bodycontent %}
    {% if question %}
        <ol class="list-group">
        {% for questions in question %}
            <li class="list-group-item"><a href="{{ questions.get_absolute_url }}"> {{ questions.title }}</a> - {{ questions.reward_value }} BTC
                <div style="font-size:xx-small;">{{ questions.posted }}</div>
                <div style="font-size:x-small;">{{ questions.body|slice:":128" }}</div>

            </li>
        {% endfor %}
        </ol>
    {% else %}
        <p>There are no questions.</p>
    {% endif %}
{% endblock %}